body {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    background-color: black; 
    color: white; 
    }
    
    h1 {
      font-size: 21px; 
      border-bottom: double 4px; 
    }
    
    img {
      display: block;
      margin-bottom: 20px;
      height: 100px; 
    }
    
    h3 {
      font-size: 18px; 
      text-transform: uppercase; 
    }
    
    #app {
      display: flex;
      justify-content: center; 
      flex-wrap: wrap; 
    }
    
    section {
      padding: 20px; 
      margin: 10px; 
      width: 400px; 
      border: double 10px;
    }
    
    @media screen and (max-width: 550px) {
      section {
      width: 200px; 
    }
    }
    